<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Nota</title>
    <link rel="stylesheet" href="/css/note.css">
</head>
<body>
    <%- include('partials/header')%>

    <div class="note-container">
        <div class="note-actions">
            <a href="/notes">Voltar</a>
            <a href="/notes/<%= note.id %>/edit">Editar Nota</a>
            <form action="/notes/<%= note.id %>/delete?_method=DELETE" method="POST">
                <button type="submit" onclick="return confirm('Tem certeza que deseja deletar esta nota?');">Deletar Nota</button>
            </form>
        </div>     
        <hr>   
        <div class="note-title">Título: <%= note.title %></div>
        <div>Descrição: <%= note.info %></div>
        <div class="note-content"><%= note.content %></div>

    </div>
</body>
</html>